.formHeader {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.formHeader > div > h2 {
  color: var(--primary);
}

.inputGroup {
  font-weight: normal;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.endButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
