.progressBar {
  display: flex;
  position: relative;
  gap: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: flex-start;
  width: 100%;
}

.line {
  background-color: var(--bg-inactive);
  content: '';
  position: absolute;
  top: calc(50%);
  width: 5rem;
  height: 2px;
}

.progressItem {
  display: flex;
  background-color: var(--bg-inactive);
  color: var(--primary);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.progressItem:first-child {
  margin-left: 3rem;
}

.progressItemActive {
  background-color: white;
}
