.header {
  background-color: var(--bg1);
  display: flex;
  margin-top: 1.5rem;
  padding: 0.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  align-items: center;
  justify-content: stretch;
  color: var(--primary);
}

.accessibilityText > span {
  cursor: pointer;
}

.accessibilityMenu {
  display: flex;
  align-items: baseline;
  gap: 2rem;
}

.inline-block {
  display: inline-block;
  cursor: pointer;
}

.rightMenu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.userMenu {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary);
  border-radius: 1rem;
  padding: 0.5rem;
  color: white;
}

.userItem {
  border-color: rgba(255, 255, 255, 0.25) !important;
  border-left: solid 1px;
  border-right: solid 1px;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
