.button {
  font-size: var(--big-font);
  line-height: var(--big-font);
  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
}

.outlinedButton {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: transparent;
}

.filledButton {
  color: white;
  border: 1px solid var(--primary);
  background-color: var(--primary);
}
