.outlinedButton {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: transparent;
}

.filledButton {
  color: white;
  border: 1px solid var(--primary);
  background-color: var(--primary);
}
