@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #009045;
  --secondary: #1bb55c;
  --bg1: #f4f4f4;
  --bg2: #fafafa;
  --bg-inactive: #c4c4c4;
  --gray-text: #263238;
  --big-font: calc(2.5vmin);
  --normal-font: calc(2vmin);
  --small-font: calc(1.8vmin);
}

body {
  margin: 0;
  font-family: 'Quattrocento Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: var(--primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--normal-font);
  color: white;
}
