.outlinedButton {
  font-size: 30px;
  line-height: 33px;
  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: bold;
  color: var(--primary);
  border: 1px solid var(--primary);
  box-sizing: border-box;
  border-radius: 10px;
  background-color: transparent;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
}
